*{
    margin: 0;
    padding:0;
}

:root {
    --font-family:-apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        "Helvetica Neue",
        sans-serif;
    --gray-color:#9ba3b4;
    --bluelink-color:#4daafc;
}


body{
    background-color: #0D1117;
}

header{
    position:sticky;
    width: auto;
    height: fit-content;
    display: flex;
    margin-left: 8.5rem;
    margin-right: 8.5rem;
    justify-content: space-between;
}

.hero{
    color: rgb(255, 255, 255);
    height: fit-content;
    padding: 15px 15px;
    line-height: 20px;
 
}

.hero, span{
    font-family:var(--font-family); 
    letter-spacing: -0.2px;
    font-weight: 600;
    font-size: 20px;   
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.head1{
    display: flex;
    justify-items: center;
}

.navlist {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    line-height: 58px;
    gap: 13px;
    font-family:var(--font-family);
}

.navlink {
    text-decoration: none;
    color: #aaa;
    padding-left: 11px;
    font-weight: 500;
    transition: color 0.3s ease-in;
}

.navlink:hover {
    color: #e3e3e3;
}




.head2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search{
    font-size: 14px;
    font-weight: 500;
    padding: 5px 13px 5px 13px;
    border-radius: 4px;
    color: var(--gray-color);
    outline: none;
    border:1.5px solid rgb(255, 255, 255,0.15);
    background-color: transparent;
    font-family:var(--font-family);
}

.search:focus{
    border: 1.5px solid #0069b9;
}

.download{
    font-size: 16px;
    font-weight: 600;
    padding-top: 5px; 
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #0078d4;
    border: none;
    font-family:var(--font-family);
    border-radius: 4px;
    color: #fff;
}
.download:hover {
    background-color: #0069b9;
}

.banner{
    padding:8px 0;
}
.message{
    font-size: 14px;
    font-weight: 500;
    color:var(--gray-color);
    font-family: var(--font-family);
    margin:8px 0;
    display: flex;
    justify-content: center;
}

.message a{
    color:var(--bluelink-color) ;
}


.hero-content{
    display: grid;
    justify-content: center;
    margin: 0 9rem;
    
}

.hero-content h1{
    font-size: 72px;
    display: grid;
    font-family: var(--font-family);
    color: #fff;
    justify-content: center;
    margin: 8px 0;
}
    
.hero-content .p1{
    font-size: 26px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--gray-color);
    font-family: var(--font-family);  
    letter-spacing: -0.3px;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero-top{
    padding: 16px 0;
}

.button-container{
    display:flex;
    justify-content: center;
}

.btn-container{
    display: flex;
    gap:10px;
}



.downloadbtn{
    font-size: 1.1rem;
    font-weight: 550;
    padding: 10px 20px;
    background-color: #0078d4;
    border: 1px solid rgba(255, 255, 255, .08);
    font-family: var(--font-family);
    border-radius: 4px;
    color: #fff;
    cursor:pointer;
}


.downloadbtn:hover{
    background-color: #0069b9;
}

.gitbutton{
    background-color: rgba(255, 255, 255, 0.1);
    color: #e9eaeb;
    text-decoration: none;
    font-family: var(--font-family);
    border: 1px solid rgba(255, 255, 255, .08);
    border-radius: 4px;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 10px 20px;
}


.p2{
    font-size: 12px;
    margin-top: 8px;
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    color:var(--gray-color);
}

.p2 a {
    color: var(--bluelink-color);
}

.p3{
    font-size: 10px;
    font-family: var(--font-family);
    margin: 8px 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    visibility: hidden;
    color:var(--gray-color);
    padding: 5px 10px;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.button-container:hover .p3 {
    opacity: 1;
    visibility: visible;
}


.p3 a{
    text-decoration: underline;
    color: var(--gray-color);
}


.hero-content img{
    width:100%;
    vertical-align: middle;
}
/*-------------------second section----------------------------------------------*/
.content-2{
    display: flex;
    justify-content: center;
    padding-top: 96px;
    margin: 0 9rem;
}

.left2{
    width: 32%;
    padding-right: 40px;
}
.right2{
    width: 68%;
    padding-left: 40px;
}

.cont-p{
    font-size: 16px;
        font-weight: 500;
        font-family: var(--font-family);
        color: var(--gray-color);
        line-height: 160%;
        margin:10px 0 ;
}

.cont-2{
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font-family);
    color: var(--gray-color);
    line-height: 160%;
    margin:20px 0;
}

.cont-a{
    color: var(--bluelink-color);
        font-family: var(--font-family);
        font-size: 16px;
        font-weight: 500;
        text-decoration: underline;
}

.cont-2 a{
    color: var(--bluelink-color);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;

}
.top2{
    padding-bottom:20px ;
}

.top2 h2{
    font-weight: 600;
    font-family: var(--font-family);
    color: #e9eaeb;
    letter-spacing: -0.5px;
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 150%;
    font-size: 30px;
}

h2{
    font-weight: 600;
    font-family: var(--font-family);
    color: #e9eaeb;
    letter-spacing: -0.5px;
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 150%;
    font-size: 30px;
}


.right2 img{
    width: 100%;
    vertical-align: middle;
}

/*------section 3----------------------*/

.content-3{
    display: flex;
    justify-content: center;
    padding-top: 96px;
    margin: 0 9rem;
}

.left3{
    width: 32%;
}

.right-3{
    width:68%;
    display: flex;
    padding-left:80px;
    justify-content: space-between;
}

.right3-a, .right3-b, .right3-c{
    display: grid;
    width:33%;
    
}


.cont3-a{
    display: flex;
    justify-content: start;
    align-items: center;
}

.cont3-a p{
    font-size: 16px;
    font-family: var(--font-family);
    color: #e9eaeb;
}

.left3 p{
    font-size: 16px;
        font-weight: 500;
        font-family: var(--font-family);
        color: var(--gray-color);
        line-height: 160%;
        margin: 15px 0;
}